
.order-page {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    flex-wrap: wrap;
    gap: 25px;
    color: black;
    margin: 0px auto; 
    box-shadow: 0 0 30px rgba(150, 150, 255, 0.1);  
  }

  .delivery-form {
    flex: 1;
    min-width: 300px;
    max-width: 450px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 255, 0.2);
  }

  .delivery-form h2 {
 text-align: center;
 color: #a3a3ff;
 margin-bottom: 20px; }
  
  .delivery-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  
  .delivery-form form input,
  .delivery-form form select {
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #333;
    color: white;
    font-size: 15px;
  }
  
  .delivery-form form input:focus,
  .delivery-form form select:focus {
    outline: none;
    border-color: #7f5af0;
    box-shadow: 0 0 10px #7f5af0;
    background-color: white;
    color: black;
  }
  
  .delivery-form form #ordersubmit {
    background-color: #7f5af0;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px #7f5af0;
    transition: all 0.3s ease;
  }
  
  #ordersubmit:hover{
 background-color: #7f5af090; }
  
  .deladdress {
 display: flex;
 gap: 10px;
 flex-wrap: wrap; }
  #addressfeild{ width: 100%; height: auto;}

  .order-summary {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    /* background-color: rgba(40, 40, 70, 0.85); */
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 255, 0.2);
  }
  
  .order-summary h3 {
 text-align: center;
 color: #a3a3ff;
 margin-bottom: 20px; }
  
  .order-summary ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .order-summary ul li {
 padding: 8px 0;
 border-bottom: 1px solid #444;
 color: black; }
  
  .order-summary p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  

  body.dark label{
      color: white;
  }
 
  body.dark  .delivery-form form input{
    background-color: rgb(29, 51, 77);
  }
  body.dark .order-summary{
    background-color: rgb(12, 12, 43);
  }
  body.dark  .order-summary ul li {
    color: white;
  }
  body.dark p{
    color: white;
  }


body.dark .delivery-form form select{
  background-color: rgb(29, 51, 77);
  color: white;
}