.listcontainer{
    background-color: white;
    width: 80%;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#uploadtitle{
    color: black;
    font-size: 20px;
    margin: 20px;
}

.listbox{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1.5fr;
    gap: 5px;
    min-height: 400px;
    padding: 30px;
    
}

.dragndrop{
    border: 1px solid rgba(0, 0, 0, 0.132);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.or{
    margin: auto;
}
.listform{
    border: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#fileId {
    display: none;
}

.filelabel {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}
.filelabel:hover{
    transform: scale(0.9);
}


.filesubmit{
    display: inline-block;
    border: none;
    padding: 5px 20px;
    background-color: rgb(94, 94, 255);
    color: white;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}
.filesubmit:hover{
    background-color: rgb(20, 20, 255);
}

.prod input{
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16x;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.152);
}
.prod img{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.prod img:hover{
    transform: scale(0.9);
}

.addprodbtn{
    width: 200px;
    background-color: rgba(0, 128, 0, 0.67);
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    margin: 20px 0px;
}
.addprodbtn:hover{
    transform: scale(0.9);
    background-color: rgba(0, 128, 0, 0.923);
    color: yellow;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.buttons button{
    width: 100%;
}