
.items-end{
	text-align: center;
}
.forgotPass{
	color: rgb(77, 211, 77);
	text-decoration: none;
}
.forgotPass:hover {
  text-decoration-line: underline;
}
.loginSubmitBtn {
  width: 100%;
  padding: 12px 16px;
  background: linear-gradient(to right, #22c55e, #059669); /* from-green-500 to-emerald-600 */
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  background-size: 200% auto; /* enable gradient animation */
  transition: background-position 0.4s ease-in-out;
}

.loginSubmitBtn:hover {
  background-position: right center; /* animate gradient */
}
.signupLink{
	color: #22c55e;
	text-decoration: none;
}
.signupLink:hover {
  text-decoration-line: underline;
}
.forgotPassbtn{
	 width: 100%;
  padding: 12px 16px;
  background: linear-gradient(to right, #22c55e, #059669); /* from-green-500 to-emerald-600 */
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  background-size: 200% auto; /* enable gradient animation */
  transition: background-position 0.4s ease-in-out;
}
.forgotPassbtn:hover{
	 background-position: right center; 
}
.backToLogin{
	color: #22c55e;
	text-decoration: none;
}
.backToLogin:hover{
	text-decoration-line: underline;
}