@import "tailwindcss";
@import 'flowbite';

/* Hide scrollbar for the category bar while allowing horizontal scroll on mobile */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

